= simple_form_for @pin do |f|
  = f.input :title, error: 'Title is mandatory, please specify one'
  = f.input :description, as: :text, 
                          error: 'Please add a little info',
                          input_html: { rows: 30 }
  = f.button :submit
  .btn.btn-danger
    = link_to 'Go Home', root_path 
 